/*Default*/
*{
    margin: 0;
    padding: 0;
}
body{
	background: #e1e1e1;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857;
	padding-right: 0!important;
	overflow-x: hidden!important;
	overflow-y: visible !important;
}
a{
    color: #333;
    outline: 1px none;
    text-decoration: none;
}
a:hover,
a:focus{
    outline: medium none;
    text-decoration: none;
    color: #004f8b;
}
ul,
ol,
li{
    list-style: none;
	padding: 0;
}
img {
    border: 0 none;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
}
input, textarea {
    background: none;
    border: medium none;
    font-family: arial;
    font-size: 11px;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
	font-size: medium;
}

/*Pagging*/
.show-box-paging {
    clear: both;
    text-align: center;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding-left: 0;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    color: #337ab7;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #23527c;
    z-index: 3;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination > .disabled > span, 
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}
/*Header*/
.container {
    width: 1030px;
}
.head-top{
	background:#6a6a6a;
	height: 24px;
}
.time {
    display: inline-block;
    float: left;
    font-size: 12px;
	line-height: 24px;
	color: #c6c6c6;
}
.topMenu {
    width: 500px;
    margin: 0 80px;
    display: inline-block;
}
.topMenu ul {
    margin: 0 auto;
    height: 24px;
    line-height: 24px;
}
.topMenu ul li {
    padding-left: 10px;
    float: left;
    color: #919191;
}
.topMenu ul li a {
    font-size: 11px;
    color: #c6c6c6;
}
.topMenu ul li a:hover {
    font-size: 11px;
    color: #fff;
}
.lang {
    float: right;
    height: 24px;
    width: 150px;
}
.lang p {
    float: left;
    color: #C6C6C6;
    line-height: 24px;
    margin: 0;
	font-size: 11px;
}
.lang .vi {
    background: url(../img/vn.jpg) no-repeat 0 0;
    display: inline-block;
    height: 12px;
	width: 17px;
    text-indent: -99999em;
    margin-top: 7px;
    margin-left: 5px;
	border:1px solid #C6C6C6;
}
.lang .en {
    background: url(../img/en.jpg) no-repeat 0 0;
    display: inline-block;
    height: 12px;
	width: 17px;
    text-indent: -99999em;
    margin-top: 7px;
    margin-left: 2px;
	border:1px solid #C6C6C6;
}
.head-banner {
    background:#fff url(../img/bg-banner.png) repeat-x 0 0;
    display: inline-block;
    width: 100%;
}
.flash {
    width: 1000px;
    height: 172px;
}
.menu{
    width: 100%;
    margin: auto;
    font-size: 12px;
    background: #36287d;
    height: 36px;
    text-transform: uppercase;
	display: block;
}
.menu li {
    float: left;
    line-height: 36px;
    display: inline-block;
}
.menu li a {
    color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
}
.menu li a.aline{
    background: url(../img/line-menu.png) no-repeat right 0;
    float: left;
    line-height: 36px;
    display: block;
}
.menu li a:hover {
    background: #463798;
}
/*Content*/
.wraps {
    padding: 8px;
    background: #fff;
}
.line{
	width: 100%;
    display: inline-block;
	margin-bottom:10px
}
.col-left {
    width: 190px;
    float: left;
    padding-right: 5px;
}
.top-box {
    height: 35px;
    line-height: 35px;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #dd0023;
    display: inline-block;
    width: 100%;
}
.top-box a{
	font-weight: bold;
	font-size: 13px;
	color: #34277c;
	text-transform: uppercase;
}
.top-box span {
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 0px 0 0;
    width: auto;
	border-bottom:3px solid #dd0023;
	display:inline-block;
}
.list ul {
    padding: 5px 0px;
}
.list ul li {
    background: url(../img/icon-arrow.png) no-repeat left center;
    line-height: 25px;
    padding-left: 10px;
    font-size: 14px;
}
.list ul li a {
    color: #00477F;
}
.col-middle{
	width: 598px;
    float: left;
    padding-left: 10px;
	padding-right: 10px;
	border-right: 1px dotted #ddd;
	border-left: 1px dotted #ddd;
}
.item-box{
	margin-bottom:8px;
}
.col-right {
    width: 190px;
    float: right;
    padding-left: 5px;
}
._sliders img {
    width: 100%;
}
/*Content*/
.top-title {
    background: url("../img/bg-title-left.png") no-repeat scroll 0 0 transparent;
    height: 35px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 5px;
    text-transform: uppercase;
    width: 200px;
    color: #fff;
}
.top-title span {
    background: url("../img/bg-title-right.png") repeat-x scroll right top transparent;
    float: left;
    height: 35px;
    line-height: 20px;
    padding: 0 35px 0 10px;
    width: -moz-max-content;
    width: -webkit-max-content;
}
.item-main {
    margin: 0px 0px;
    width: 100%;
}
.title-main {
    font-size: 13px;
	font-weight: bold;
	color: #34277c;
}
.intro-main{
	color: #000;
	font-size: 10.0pt;
	margin-top: 10px;
	text-decoration: none;
	text-align: justify;
	line-height: 150%;
}
.intro-main img {
    padding: 1px;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.list-main {
    padding: 0px 0px;
    margin-top: 10px;
	clear: both;
	display:inline-block;
	width:100%;
}
.list-main ul li {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
    color: #999;
	background: url("../img/icon-sq.jpg") no-repeat scroll left 14px rgba(0, 0, 0, 0);
}
.list-main ul li a{
	color: #34277c;
	text-decoration: none;
}
.list-main ul li a:hover{
	text-decoration: underline;
}
.box-item{
	padding-bottom:10px;
	margin-bottom:20px;
	display:inline-block;
	width:100%;
}
.box-item-ext{
	border-bottom:1px dotted #ddd;
}
.selectLink{
    border: 1px solid #ddd;
    width: 100%;
    padding: 3px 0px;
	margin-bottom: 10px;
}
/*Footer*/
.menu-footer{
    width: 100%;
    margin: auto;
    font-size: 12px;
    background: #36287d;
    height: 30px;
    text-transform: none;
	display: block;
}
.menu-footer li {
    float: left;
    line-height: 30px;
    display: inline-block;
}
.menu-footer li a {
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    display: inline-block;
	font-size: 12px;
}
.menu-footer li a.aline{
    background: url(../img/line-menu-footer.png) no-repeat right 3px;
    float: left;
    line-height: 30px;
    display: block;
}
.menu-footer li a:hover {
    background: #463798;
}
.wraps-footer{
	background: #e1e1e1 url(../img/bg-footer.png) repeat-x left top;
	width: 1000px;
	margin: auto;
	text-align: center;
	padding: 15px 0px;
	color: #666;
}
