/*Default*/
*{
    margin: 0;
    padding: 0;
}
body{
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857;
	padding-right: 0!important;
	overflow-x: hidden!important;
	overflow-y: visible !important;
}
a{
    color: #333;
    outline: 1px none;
    text-decoration: none;
}
a:hover,
a:focus{
    outline: medium none;
    text-decoration: none;
    color: #004f8b;
}
ul,
ol,
li{
    list-style: none;
	padding: 0;
}
img {
    border: 0 none;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
}
input, textarea {
    background: none;
    border: medium none;
    font-family: arial;
    font-size: 11px;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
	font-size: medium;
}

/*Pagging*/
.show-box-paging {
    clear: both;
    text-align: center;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding-left: 0;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    color: #337ab7;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #23527c;
    z-index: 3;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination > .disabled > span, 
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}
/*Header*/
.container {
    width: 1010px;
}
#wrapper .container{
	margin: 0 auto;
	max-width: 1010px;
	height: 100%;
}